.h1{
    color: white;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.table-style{
    margin-left: auto;
    margin-right: auto;
}

.button-style{
    margin-left: 10px;
}